.centration p, h1, h2 {
    text-align: center;
}

body {
    background-color: #ffb6c1;
}


.center{
    text-align: center;

}
.block {
    width: 30%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: pink;
    min-height: 900px;
    height:180%;
    padding: 10px;
    
}

.sans {
    font-family: sans-serif;
}

.impact {
    font-family: impact;
}

hr {
    background-color: #ffb6c1;
    border-color:#ffb6c1;
    height: 5px;
}

.lowmargin {
    margin-bottom: 1px;
    margin-top: 1px;
    font-family: serif;
}

.cookie image {
 margin-top: 3000px;
}


.absolute
{
 position: absolute;
}

.golower {
}


.votingboard {
    margin: auto auto;
    background-color: red;
}

.menu{
    font-family: sans-serif;
    a {
        color:hotpink;
    }
}


