.centration p, h1, h2 {
    text-align: center;
}

body {
    background-color: #ffb6c1;
}

.block {
    width: 30%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: pink;
    min-height: 900px;
    height:180%;
    padding: 10px;
    
}

.sans {
    font-family: sans-serif;
}

.impact {
    font-family: impact;
}

hr {
    background-color: #ffb6c1;
    border-color:#ffb6c1;
    height: 5px;
}

.lowmargin {
    margin-bottom: 1px;
    margin-top: 1px;
    font-family: serif;
}